body{
  font-family: arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #b9e8ea;
  background-image: url(./img/wallpaperflare.com_wallpaper.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.app{
  max-width: 600px;
  margin: 0 auto 300px;
  border-radius: 10px;
  padding: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
h1{
  text-align: center;
}
h2{
  margin-bottom: 10px;
}
input{
  box-sizing: border-box;
}
button{
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s;
}
button:hover{
  opacity: 1;
}

.todo-list{
  margin-bottom: 20px;

  padding-bottom: 20px;
}

.todo{
  background-color: #023e8a;
  
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoForm{
  padding-bottom: 1.5rem;
}
input, select{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.complete{
  background-color: #5cb85c;
}
.remove{
  background-color: #d9534f;
}

.filter, .search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

.filter-options{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div{
  flex: 1 1 0;
}